<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('dist/css/main.css') }}">
        {% endblock %}

        {% block javascripts %}
            {#encore_entry_script_tags('app') #}
            <script type="module" src="{{ asset('dist/js/main.js') }}"></script>
        {% endblock %}
    </head>
    <body>

        <div class="flex w-full mx-auto py-20 ">
            <header class="flex flex-col lg:flex-row w-10/12 mx-auto">
                <div class="font-bold text-6xl mb-12">
                    <a class="p-4 bg-gray-100" href="/">Brand</a>
                </div>
                <nav class="lg:ml-auto">
                    <ul class="flex">
                        <li class="">
                            <a class="p-4 bg-gray-100" href="/">Home</a>
                        </li>
                        <li class="ml-4">
                            <a class="p-4 bg-gray-100" href="{{ random(['apple-text-here', 'orange-text', 'citrus-text']) }}">{{ random(['apple-text-here', 'orange-text', 'citrus-text']) }}</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>

        {% block content %}{% endblock %}

        {# Vue symfony integration #}
        <div id="app"></div>
    </body>
</html>
